* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.heading {
    padding: 20px;
    background-color: #f1f1f1;
}

.heading h1,
h3 {
    text-align: center;
    font-weight: 400
}

.heading h1 {
    color: darkorange;
    font-size: 3rem;

}

.heading h3 {
    margin-top: 10px;
}

.headingMiddle {
    background-color: #fffdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.headingMiddle div {
    display: flex;
    gap: 5px;
}

button {
    padding: 12px 16px;
    font-size: .9rem;
    background-color: darkorange;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(198, 110, 3);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item {
    width: 70%;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.name {
    flex: 1;
    text-align: start;
}

.stat {
    flex: 1;
    text-align: end;
}

.item progress {
    flex: 4;
}

progress {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: width 1s ease;
}


progress::-webkit-progress-bar {
    background-color: #f2f2f2;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: darkorange;
    border-radius: 5px;
}


progress::-moz-progress-bar {
    background-color: darkorange;
    border-radius: 5px;
}


progress::-ms-fill {
    background-color: darkorange;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    html {
        font-size: 60%;
    }

    .item {
        width: 95%;
    }

    progress {
        height: 10px;
    }

    progress::-webkit-progress-bar {
        background-color: #f2f2f2;
        border-radius: 3px;
    }

    progress::-webkit-progress-value {
        background-color: darkorange;
        border-radius: 3px;
    }


    progress::-moz-progress-bar {
        background-color: darkorange;
        border-radius: 3px;
    }


    progress::-ms-fill {
        background-color: darkorange;
        border-radius: 3px;
    }
}

.headingTop {
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.countries {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.headingTop input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 30px;
    border: none;
}

.headingTop input:focus {
    outline-color: darkorange;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.btns button {
    border-radius: 25px;
}

.country {
    width: 15vmax;
    height: 21vmax;
    overflow: auto;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}

.country h3 {
    color: darkorange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.country div {
    color: gray;
}

@media screen and (max-width:500px) {
    .headingTop {
        width: 80%;
    }

    .country {
        width: 22vmax;
        height: 35vmax;
    }
}